<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgnpc.bbxpark.space.mapper.TenantMemberRepository">

	<!-- 根据条件查询所有字段信息[带排序字段] -->
	<select id="listPage" resultType="com.cgnpc.bbxpark.space.dto.model.TenantMemberModel">
		SELECT a.*
<!--		a.id,a.create_time,a.creator_id,a.status,a.tenant_id,a.identity,a.update_time,a.updator_id,a.user_id-->
<!--		, d.org_name department_name, d.id department_id-->
		FROM
		uic_tenant_member a
		<where>
<!--			a.user_id=b.id-->
<!--			and c.user_id = b.id-->
<!--			and c.department_id = d.id-->
			<if test="condition.tenantId != null">
				AND a.tenant_id = #{condition.tenantId}
			</if>
			<if test="condition.identity != null">
				AND a.identity = #{condition.identity}
			</if>

			<if test="condition.userName != null and condition.userName !=''">
				AND a.staff_name like concat('%',#{condition.userName}, '%')
			</if>
			<if test="condition.staffid != null and condition.staffid !=''">
				AND a.user_id like concat('%',#{condition.staffid}, '%')
			</if>
<!--			<if test="userIds != null and userIds.size() > 0">-->
<!--				AND a.user_id IN-->
<!--				<foreach item="userId" collection="userIds" open="(" separator="," close=")">-->
<!--					#{userId}-->
<!--				</foreach>-->
<!--			</if>-->

		</where>
	</select>
</mapper>
