<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 请注意：本mapper文件由工具生成，自定义sql请重新创建文件编写，由于数据模型存在变更的可能性，该文件可能会被重新覆盖 -->
<mapper namespace="com.cgnpc.bbxpark.restaurant.mapper.RestaurantCardRecordRepository">

    <select id="getRevenueOverview" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantRevenueOverview">
        SELECT
        count(trade_amount) AS totalConsumerCount,
        ROUND(ABS(SUM(trade_amount)), 2) AS totalRevenue
        FROM bbx_restaurant_card_record
        WHERE
        trade_amount IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
    </select>

    <select id="getCountAnalysis" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantConsumptionCountItem">
        SELECT
        pos AS name,
        count(*) AS count
        FROM bbx_restaurant_card_record
        WHERE
        occur_time >= #{minDay}
        AND occur_time &lt;= #{maxDay}
        AND pos IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        GROUP BY pos
    </select>

    <select id="getConsumptionShareAnalysis" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantConsumptionShareItem">
        SELECT
        pos AS name,
        ROUND(ABS(SUM(trade_amount)), 2) AS amount
        FROM bbx_restaurant_card_record
        WHERE
        occur_time >= #{minDay}
        AND occur_time &lt;= #{maxDay}
        AND pos IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        GROUP BY pos
    </select>

    <select id="getConsumptionAbility" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantConsumptionAbilityModel">
        SELECT
        TO_CHAR(occur_time, 'dd') AS time,
        card_no as cardNo,
        ROUND(ABS(SUM(trade_amount)), 2) AS amount
        FROM bbx_restaurant_card_record
        WHERE
        occur_time >= #{minDay}
        AND occur_time &lt;= #{maxDay}
        AND card_no IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        GROUP BY TO_CHAR(occur_time, 'dd'), card_no
    </select>

    <select id="getConsumptionBehavior" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantConsumptionBehaviorModel">
        SELECT
        ROUND(COALESCE(SUM(ABS(trade_amount)), 0), 2) AS totalTradeAmount,
        ROUND(COALESCE(SUM(account_balance), 0), 2) AS totalAccountBalance,
        COUNT(DISTINCT CASE WHEN card_no IS NOT NULL THEN card_no END) AS distinctCardCount,
        COUNT(CASE WHEN card_no IS NOT NULL AND trade_amount IS NOT NULL THEN 1 END) AS totalConsumeCount
        FROM bbx_restaurant_card_record
        WHERE deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
    </select>

    <select id="getDiffDay" resultType="java.lang.Double">
        SELECT
        ROUND(
            COALESCE(
                DATEDIFF(
                    DAY,
                    MIN(occur_time),
                    MAX(occur_time)
                ),
                1
            ),
            2
        ) AS timeDiffDays
        FROM bbx_restaurant_card_record
        WHERE deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        <if test="fileId != null">
            and file_id =#{fileId}
        </if>
    </select>

    <select id="getConsumptionBehaviorList" resultType="com.cgnpc.bbxpark.ioc.dto.model.RestaurantConsumptionBehaviorModel">
        SELECT
        card_no AS cardNo,
        ROUND(COALESCE(SUM(ABS(trade_amount)), 0), 2) AS totalTradeAmount,
        COUNT(CASE WHEN card_no IS NOT NULL AND trade_amount IS NOT NULL THEN 1 END) AS totalConsumeCount
        FROM bbx_restaurant_card_record
        WHERE deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        <if test="fileId != null">
            and file_id =#{fileId}
        </if>
        GROUP BY card_no
    </select>

    <select id="selectLowBalanceCardNos" resultType="java.lang.String">
        WITH latest_card_record AS (
            SELECT card_no, MAX(occur_time) AS latest_occur_time
            FROM bbx_restaurant_card_record
            WHERE card_no IS NOT NULL
                    AND occur_time IS NOT NULL
                    AND deleted = 1
                    <if test="tenantId != null">
                        and tenant_id =#{tenantId}
                    </if>
                    <if test="fileId != null">
                        and file_id =#{fileId}
                    </if>
            GROUP BY card_no
        )
        SELECT DISTINCT t1.card_no
        FROM latest_card_record t1
        JOIN bbx_restaurant_card_record t2
        ON t1.card_no = t2.card_no AND t1.latest_occur_time = t2.occur_time
        WHERE t2.account_balance &lt; 10
                AND t2.account_balance IS NOT NULL
                AND deleted = 1
                <if test="tenantId != null">
                    and tenant_id =#{tenantId}
                </if>
                <if test="fileId != null">
                    and file_id =#{fileId}
                </if>
    </select>

    <select id="getTotalAccountBalance" resultType="java.lang.Double">
        WITH latest_card_record AS (
        SELECT card_no, MAX(occur_time) AS latest_occur_time
        FROM bbx_restaurant_card_record
        WHERE card_no IS NOT NULL
        AND occur_time IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
        GROUP BY card_no
        )
        SELECT ROUND(COALESCE(SUM(t2.account_balance), 0), 2) AS totalAccountBalance
        FROM latest_card_record t1
        JOIN bbx_restaurant_card_record t2
        ON t1.card_no = t2.card_no AND t1.latest_occur_time = t2.occur_time
        WHERE t2.account_balance IS NOT NULL
        AND deleted = 1
        <if test="tenantId != null">
            and tenant_id =#{tenantId}
        </if>
    </select>
</mapper>
