<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 请注意：本mapper文件由工具生成，自定义sql请重新创建文件编写，由于数据模型存在变更的可能性，该文件可能会被重新覆盖 -->
<mapper namespace="com.cgnpc.bbxpark.invitation.mapper.ApprovalRecordRepository">

    <select id="approvedPage" resultType="java.lang.Long">
        SELECT business_id
        FROM bbx_approval_record
        WHERE user_id = #{userId}
        <if test="tenantId != null">
            AND tenant_id =#{tenantId}
        </if>
        AND deleted = 1
        GROUP BY business_id
        ORDER BY MAX(create_time) DESC
    </select>

</mapper>
